@import 'reset';

@pad: 1rem;

// Colours
@grey: #8099B2;
@white: #FFFFEB;

*, ul li, p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}
li, p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.2rem;
}
h1, h2, h3, p.jobtitle {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
h1, h2, h3 {
  margin-bottom: 1rem;
}
h1 { font-size: 3rem; line-height: 4rem; }
h2 { font-size: 2rem; line-height: 3rem; }
h3 { font-size: 1.6rem; line-height: 2.2rem; }
a, a:link, a:visited, a:hover, a:active{ color: #0E3051; }

section.introduction p,
section.interests .inner p {

}

article#cv {
  // border: 1px solid gray;
  width: 98rem;
  display: block;
  margin: 0.5rem auto;
  padding: 2rem 2.5rem 6rem 2.5rem;
  background-color: @grey;
}

header {
  padding: 1rem;
  background-color: @grey;
  ul {
    margin: 2rem 0;
    li {
      display: inline-block;
      padding: 0.5rem 2rem 0.5rem 0;
      i.fa {
        width: 2rem;
        font-size: 1.8rem;
        margin-right: 0.7rem;
      }
      &.email {}
      &.phone {}
      &.postal {}
      &.linkedin {}
      &.portfolio {}
    }
  }
}

section.introduction {
  background-color: @white;
  padding: @pad 3.5rem;
  margin: 0 -2.5rem;
}

section.interests {
  padding: @pad;
  background-color: @grey;
  section {
    padding: @pad;
    background-color: @white;
  }

} // interests


section.skills {
  padding: @pad;
  background-color: @grey;
  section {
    display: inline-block;
    padding: @pad;
    width: 33%;
    vertical-align: top;
    background-color: @white;
  }
  section.languages {

  }
  section.libraries {

  }
  section.tools {

  }
} // skills

section.work-history {
  padding: @pad;
  background-color: @grey;
  section.past-job {
    background-color: @white;
    padding: @pad;
    margin: 0 0 @pad 0;
    .date { font-size: 1rem; text-transform: uppercase; margin-bottom: 0; }
    .employer { font-size: 1rem; font-weight: 700; text-transform: uppercase; }
    .jobtitle { line-height: 3rem; }
    .text {}
  }
} // work-history

section.recent-work {
  padding: @pad;
  background-color: @grey;
  h2 {}
  ul li { background-color: @white; margin-bottom: 0.6rem; padding: @pad;  }
}

